%h1= @title
%form{ :method => 'post', :action => '/register/execute' }
  %div
    %label{ :for => 'nickname' } ニックネーム
    %input{ :type => 'text', :name => 'nickname', :value => 'hataraki-zakarisan' }
    %select{ :name => 'job' }
      %option{ :value => 'koumuin' } 公務員
      %option{ :value => 'ITkigyou' } IT企業
    -# keyをsessionに!?
    %label{ :for => 'jobtag' } 職業タグ
    %input{ :type => 'text', :name => 'jobtag' }
    %input{ :type => 'hidden', :name => 'key', :value => @key }
    %input{ :type => 'submit', :name => 'submit', :value => '登録' }
